{{ form_start(form) }}
<div class="input-field col s12">
    <label for="titre">Titre</label>
    {{ form_widget(form.titre) }}
</div>

<div class="input-field col s12">
    <label for="designation">Désignation</label>
    {{ form_widget(form.designation) }}
</div>

<div class="input-field col s12">
    <label for="dateDebut">Date de debut</label>
            {{ form_widget(form.dateDebut) }}
            
</div>

<div class="input-field col s12">
    <label for="dateFin">Date de fin</label>
            {{ form_widget(form.dateFin) }}
            
</div>

<div class="input-field col s12">

    <p>
      <label>
        {{ form_widget(form.publier) }}
       <span>Etat de publication</span>
      </label>
      </p>
</div>

    
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
