{% extends 'base.html.twig' %}

{% block title %}Actualite index{% endblock %}

{% block body %}
    <h1>Actualite index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Designation</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>Publier</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for actualite in actualites %}
            <tr>
                <td>{{ actualite.id }}</td>
                <td>{{ actualite.titre }}</td>
                <td>{{ actualite.designation }}</td>
                <td>{{ actualite.dateDebut ? actualite.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ actualite.dateFin ? actualite.dateFin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ actualite.publier ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('actualite_show', {'id': actualite.id}) }}">show</a>
                    <a href="{{ path('actualite_edit', {'id': actualite.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('actualite_new') }}">Create new</a>
{% endblock %}
