

{% block title %}Alert index{% endblock %}

{% block body %}
    <h1>Alert index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Designation</th>
                <th>Date_debut</th>
                <th>Date_fin</th>
                <th>Publier</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for alert in alerts %}
            <tr>
                <td>{{ alert.id }}</td>
                <td>{{ alert.titre }}</td>
                <td>{{ alert.designation }}</td>
                <td>{{ alert.dateDebut ? alert.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ alert.dateFin ? alert.dateFin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ alert.publier ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('alert_show', {'id': alert.id}) }}">show</a>
                    <a href="{{ path('alert_edit', {'id': alert.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('alert_new') }}">Create new</a>
{% endblock %}
