{{ form_start(form_concert) }}


<div class="input-field col s12">
<label for="chanteur">Chanteur</label>
            {{ form_widget(form_concert.chanteur) }}
            
    </div>

    <div class="input-field col s12">
<label for="designation">Désignation</label>
            {{ form_widget(form_concert.designation) }}
            
    </div>



<div class="input-field col s12">
    <label for="dateConcert">Date du concert</label>
            {{ form_widget(form_concert.dateConcert) }}
            
</div>

<div class="input-field col s12 center-align">

    {{ form_widget(form_concert.picture,
                    {
                        'attr':{'class': "edit_img",
                        }}
                )
                }}

<img style="width:30%" class="z-depth-3" src="/uploads/{{concert.picture}}">
</div>




<div class="input-field col s12">

    <p>
      <label>
        {{ form_widget(form_concert.publier) }}
       <span>Etat de publication</span>
      </label>
      </p>
</div>
<div class="center-align">
<button class="btn waves-effect waves-light">{{ button_label|default('Save') }}
    <i class="material-icons right">send</i>
  </button>
</div>

{{ form_end(form_concert) }}

{% block scripts %}
	{% endblock %}