<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Symfony Blog{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{% block stylesheets %}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/app.css') }}">
		{{ encore_entry_link_tags('app') }}
	{% endblock %}


</head>
<body>
{# -------------NAVBAR---------------#}
 <nav>
    <div class="nav-wrapper">
      <a href="{{ path('homepage') }}" class="brand-logo">Logo</a>
      <a href="{{ path('homepage') }}" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Menu</a></li>
         {% if app.user %}
			<li><a href="{{ path('admin') }}">Admin</a></li>
			<li><a href="/api">API</a></li>
			<li><a href="/logout">Deconnexion</a></li>
		{% else %}
			<li><a href="/connexion">Connexion</a></li>
			<li><a href="/inscription">Inscription</a></li>
		{% endif %}
      </ul>
    </div>
  </nav>
{# ---------------------------------#}

{# -------------NAVBAR MOBILE---------------#}

  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Menu</a></li>
        {% if app.user %}
			<li><a href="{{ path('admin') }}">Admin</a></li>
			<li><a href="/api">API</a></li>
			<li><a href="/logout">Deconnexion</a></li>
		{% else %}
			<li><a href="/connexion">Connexion</a></li>
			<li><a href="/inscription">Inscription</a></li>
		{% endif %}
  </ul>
{# ---------------------------------#}

	{% block body %}

  	{% endblock %}

  	{% block content %}

  	{% endblock %}

	{% block scripts %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	{{ encore_entry_script_tags('app') }}
	{% endblock %}
</body>
</html>
